*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    background-color: rgb(42, 44, 44);
}

section
{
    height: 100vh;
}
canvas
{
    
    width: 100%;
}